p {
  font-family: "Pragmatica";
  font-weight: normal;
  font-style: normal;
  color: white;
}

h1 {
  font-family: "Pragmatica";
  font-weight: 900;
  font-style: normal;
  color: white;
}

body {
  background-color: black;
  padding: 8px;
  margin: 8px;
  background-image: url(assets/images/blueassgarage.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.directory {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 8px;
  width: 420px;
  height: 165px;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
}
