p {
    font-family: 'Pragmatica';
    font-weight: normal;
    font-style: normal;
    color: white;
}

h1 {
    font-family: 'Pragmatica';
    font-weight: 900;
    font-style: normal;
    color: white;
}

body {
    background-color: black;
    padding: 8px;
    margin: 8px;
}

.directory {
    background-color: rgb(255, 255, 255, 0.5);
    width: 420px;
    height: 165px;
    box-sizing: border-box;
}