<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.svg" />
    <link rel="stylesheet" href="../assets/fonts/stylesheet.css" />
    <link rel="stylesheet" href="templates.css" />
    <style>
      body {
        background-color: rgb(0, 0, 0, 0);
      }
    </style>
  </head>
  <body>
    <div class="navigation">
      <img
        src="../assets/favicon.svg"
        style="position: relative; display: inline; width: 32px; height: 32px"
      />
      <h1
        style="
          position: relative;
          display: inline;
          font-size: 24px;
          height: 32px;
          top: -8px;
        "
      >
        THEBURNS.RU
      </h1>
      <p
        style="
          position: relative;
          display: inline;
          font-size: 24px;
          height: 32px;
          top: -10px;
        "
      >
        / home
      </p>

      <p><a href="index" style="font-weight: bold">> HOME</a></p>
      <p><a href="music">MUSIC</a></p>
      <p><a href="gallery">GALLERY</a></p>
      <p><a href="videos">VIDEOS</a></p>
      <p><a href="history">HISTORY</a></p>
      <br />
      <p><a href="wiki">WIKI</a></p>
      <p><a href="https://discord.gg/wVsTjbtQRZ">SERVER</a></p>
    </div>
  </body>
</html>
